<!--
  <a mat-raised-button color="accent" (click)="GetAllUsers()"  role="button">Get all Customers</a>&nbsp;

  <a mat-raised-button color="accent"  (click)="GetAllVehicles()"  role="button">Get all Vehicles</a>&nbsp;
  <a mat-raised-button color="accent"  (click)="GetAllClaims()"  role="button">Get all Vehicles Claims</a>&nbsp;
  <a mat-raised-button color="accent"  (click)="GetAllTravelClaims()"  role="button">Get all Travel Claims</a>&nbsp;

<br><br>

  <div *ngIf="buttonName1=='GetAllUsers'">
    <br>
    <div style="padding-left: 2%;">     
    <input type="text" [(ngModel)]="term" placeholder="Search..">
    </div>
    <br>
    <table class="styled-table" border="1">
        <thead>
        <tr>
            <th>Cust ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Mob No.</th>
            <th>Address</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let value of emplist">
            <tr *ngFor = "let value of emplist |  filter:term ">

            <td>{{value.CustID}}</td>
            <td>{{value.UserName}}</td>
            <td>{{value.Email}}</td>
            <td>{{value.MobNo}}</td>
            <td>{{value.Address}}</td>
            <td>{{value.DOB}}</td>
            <td>{{value.Gender}}</td>
            <td><button (click)="delete(value.EmpID)">Delete </button></td>
        </tr>
        
        </tbody>
    </table></div>

    <div *ngIf="buttonName1=='GetAllVehicles'">
        <br>
        <div style="padding-left: 2%;">     
        <input type="text" [(ngModel)]="term" placeholder="Search..">
        </div>
        <br>
        <table class="styled-table" border="1">
            <thead>
            <tr>
                <th>Vehicle ID</th>
                <th>Mobile No.</th>
                <th>Vehicle Type</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Driving License</th>
                <th>Registration No.</th>
                <th>Purchase Date</th>
                <th>Price </th>
                <th>Chassis No.</th>
                <th>Engine No.</th>
                <th>Delete</th>


            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let value of vehlist">
                <tr *ngFor = "let value of vehlist |  filter:term ">

                <td>{{value.VehicleID}}</td>
                <td>{{value.UserMobNo}}</td>
                <td>{{value.VehicleType}}</td>
                <td>{{value.Manufacturer}}</td>
                <td>{{value.Model}}</td>
                <td>{{value.DrivingLicense}}</td>
                <td>{{value.RegistrationNo}}</td>
                <td>{{value.PurchaseDate}}</td>
                <td>{{value.Price}}</td>
                <td>{{value.ChassisNo}}</td>
                <td>{{value.EngineNo}}</td>

                <td><button (click)="delete(value.EmpID)">Delete </button></td>
            </tr>
            </tbody>
        </table></div>

        
  <div *ngIf="buttonName1=='GetAllClaims'">
    <br>
    <div style="padding-left: 2%;">     
    <input type="text" [(ngModel)]="term" placeholder="Search..">
    </div>
    <br>
    <table class="styled-table" border="1">
        <thead>
        <tr>
            <th>Claim ID</th>
            <th>Mob No.</th>
            <th>Vehicle Id</th>
            <th>Policy No.</th>
            <th>Claim Reason</th>
            <th>Claim Status</th>
            <th>Claim Amt</th>
            <th>Claim Date</th>
            <th>Approve</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let value of claimlist">
            <tr *ngFor = "let value of claimlist |  filter:term ">

            <td>{{value.ClaimNo}}</td>
            <td>{{value.UserMobNo}}</td>
            <td>{{value.VehId}}</td>
            <td>{{value.PolNo}}</td>
            <td>{{value.ClaimReason}}</td>
            <td>{{value.ClaimStatus}}</td>
            <td>{{value.ClaimAmt}}</td>
            <td>{{value.ClaimDate}}</td>
            <td><button (click)="Approve(value.PolNo)">Approve </button></td>
        </tr>
        
        </tbody>
    </table></div>

    <div *ngIf="buttonName1=='GetAllTravelClaims'">
        <br>
        <div style="padding-left: 2%;">     
        <input type="text" [(ngModel)]="term" placeholder="Search..">
        </div>
        <br>
        <table class="styled-table" border="1">
            <thead>
            <tr>
                <th>Claim ID</th>
                <th>Policy No</th>
                <th>Reason of Claim</th>
                <th>Mob No.</th>
                <th>Amount </th>
                <th>Claim Status</th>
                <th>Approve</th>
            </tr>
            </thead>
            <tbody>
    
            <tr *ngFor="let value of tralist">
                <tr *ngFor = "let value of tralist |  filter:term ">
    
                <td>{{value.Travel_Claim_Id}}</td>
                <td>{{value.PolicyNo}}</td>
                <td>{{value.Reason_for_Claim}}</td>
                <td>{{value.MobNo}}</td>
                <td>{{value.Amount}}</td>
                <td>{{value.Claim_Status}}</td>
                <td><button (click)="ApproveTravel(value.PolicyNo)">Approve </button></td>
            </tr>
            
            </tbody>
        </table></div>-->

<mat-sidenav-container>
    <mat-sidenav mode="side" opened><span>Hi ,Nupur</span>
        <mat-nav-list>
            <mat-list-item> <a  (click)="GetAllUsers()"  role="button">Customers</a></mat-list-item>
            <mat-list-item><a   (click)="GetAllVehicles()"  role="button">Vehicles</a></mat-list-item>
            <mat-list-item><a   (click)="GetAllClaims()"  role="button">Vehicle Claims</a></mat-list-item>
            <mat-list-item><a   (click)="GetAllTravelClaims()"  role="button">Travel Claims</a></mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <marquee width="97%" direction="left" height="100px">Welcome to Admin Dashboard.  </marquee>
        <div *ngIf="buttonName1=='GetAllUsers'">
            <br>
            <div style="padding-left: 2%;">     
            <input type="text" [(ngModel)]="term" placeholder="Search..">
            </div>
            <br>
            <table class="styled-table" border="1">
                <thead>
                <tr>
                    <th>Cust ID</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Mob No.</th>
                    <th>Address</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
        
                <tr *ngFor="let value of emplist">
                    <tr *ngFor = "let value of emplist |  filter:term ">
        
                    <td>{{value.CustID}}</td>
                    <td>{{value.UserName}}</td>
                    <td>{{value.Email}}</td>
                    <td>{{value.MobNo}}</td>
                    <td>{{value.Address}}</td>
                    <td>{{value.DOB}}</td>
                    <td>{{value.Gender}}</td>
                    <td><button (click)="delete(value.EmpID)">Delete </button></td>
                </tr>
                
                </tbody>
            </table></div>
        
            <div *ngIf="buttonName1=='GetAllVehicles'">
                <br>
                <div style="padding-left: 2%;">     
                <input type="text" [(ngModel)]="term" placeholder="Search..">
                </div>
                <br>
                <table class="styled-table" border="1">
                    <thead>
                    <tr>
                        <th>Vehicle ID</th>
                        <th>Mobile No.</th>
                        <th>Vehicle Type</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Driving License</th>
                        <th>Registration No.</th>
                        <th>Purchase Date</th>
                        <th>Price </th>
                        <th>Chassis No.</th>
                        <th>Engine No.</th>
                        <th>Delete</th>
        
        
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let value of vehlist">
                        <tr *ngFor = "let value of vehlist |  filter:term ">
        
                        <td>{{value.VehicleID}}</td>
                        <td>{{value.UserMobNo}}</td>
                        <td>{{value.VehicleType}}</td>
                        <td>{{value.Manufacturer}}</td>
                        <td>{{value.Model}}</td>
                        <td>{{value.DrivingLicense}}</td>
                        <td>{{value.RegistrationNo}}</td>
                        <td>{{value.PurchaseDate}}</td>
                        <td>{{value.Price}}</td>
                        <td>{{value.ChassisNo}}</td>
                        <td>{{value.EngineNo}}</td>
        
                        <td><button (click)="delete(value.EmpID)">Delete </button></td>
                    </tr>
                    </tbody>
                </table></div>
        
                
          <div *ngIf="buttonName1=='GetAllClaims'">
            <br>
            <div style="padding-left: 2%;">     
            <input type="text" [(ngModel)]="term" placeholder="Search..">
            </div>
            <br>
            <table class="styled-table" border="1">
                <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Mob No.</th>
                    <th>Vehicle Id</th>
                    <th>Policy No.</th>
                    <th>Claim Reason</th>
                    <th>Claim Status</th>
                    <th>Claim Amt</th>
                    <th>Claim Date</th>
                    <th>Approve</th>
                </tr>
                </thead>
                <tbody>
        
                <tr *ngFor="let value of claimlist">
                    <tr *ngFor = "let value of claimlist |  filter:term ">
        
                    <td>{{value.ClaimNo}}</td>
                    <td>{{value.UserMobNo}}</td>
                    <td>{{value.VehId}}</td>
                    <td>{{value.PolNo}}</td>
                    <td>{{value.ClaimReason}}</td>
                    <td>{{value.ClaimStatus}}</td>
                    <td>{{value.ClaimAmt}}</td>
                    <td>{{value.ClaimDate}}</td>
                    <td><button (click)="Approve(value.PolNo)">Approve </button></td>
                </tr>
                
                </tbody>
            </table></div>
        
            <div *ngIf="buttonName1=='GetAllTravelClaims'">
                <br>
                <div style="padding-left: 2%;">     
                <input type="text" [(ngModel)]="term" placeholder="Search..">
                </div>
                <br>
                <table class="styled-table" border="1">
                    <thead>
                    <tr>
                        <th>Claim ID</th>
                        <th>Policy No</th>
                        <th>Reason of Claim</th>
                        <th>Mob No.</th>
                        <th>Amount </th>
                        <th>Claim Status</th>
                        <th>Approve</th>
                    </tr>
                    </thead>
                    <tbody>
            
                    <tr *ngFor="let value of tralist">
                        <tr *ngFor = "let value of tralist |  filter:term ">
            
                        <td>{{value.Travel_Claim_Id}}</td>
                        <td>{{value.PolicyNo}}</td>
                        <td>{{value.Reason_for_Claim}}</td>
                        <td>{{value.MobNo}}</td>
                        <td>{{value.Amount}}</td>
                        <td>{{value.Claim_Status}}</td>
                        <td><button (click)="ApproveTravel(value.PolicyNo)">Approve </button></td>
                    </tr>
                    
                    </tbody>
                </table></div>
    </mat-sidenav-content>
</mat-sidenav-container>
    
  