<!---<div class="row">
    <div class="main">
        <div class="card">
            <h2 style="text-align: center;">Register Yourself for Your Security...</h2>
<form #regform="ngForm" name="regform" (ngSubmit)="RegisterData(regform)">
    <div class="container">

        <label for="mobile"><b>Mobile No.</b></label>
        <input type="tel" name="mno" [(ngModel)]="model.mno" #mno="ngModel" pattern="^[0-9]{10}$" placeholder="Enter Mobile No." required>
        <span *ngIf="mno.errors?.required">Mobile No cannot be blank</span>
        <span *ngIf="mno.errors?.pattern">MobNo has to be numeric and 10 digits</span>
    
        
        <div>
          
        </div>
    <div>
        <label for="uname"><b>Name</b></label>
        <input type="text" name="name" [(ngModel)]="model.name" placeholder="Enter Name" #name="ngModel" required>
        <span *ngIf="name.errors?.required">Name has to be entered</span>
    </div>
    <div>
      
    </div>
  
    <div>
       
    </div>
    <div>
       
    </div><br><br>
    <div>
        
    </div>

                 
    
    
       
    
   
  </div>
</form>

</div>
</div>
</div>-->
<div class="body"><div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form #regform="ngForm" name="regform" (ngSubmit)="RegisterData(regform)">
        <div class="user-details">
          <div class="input-box">
            <label for="uname" class="details">Name</label>
            <input type="text" name="name" [(ngModel)]="model.name" placeholder="Enter Name" #name="ngModel" required>
            <mat-error *ngIf="name.errors?.required">Name has to be entered</mat-error>

          </div>
          <div class="input-box">
            <label class="details" for="mobile">Phone NUmber</label>
            <input type="tel" name="mno" [(ngModel)]="model.mno" #mno="ngModel" pattern="^[0-9]{10}$" placeholder="Enter Mobile No." required>
            <mat-error *ngIf="mno.errors?.required">Mobile No cannot be blank</mat-error>
            <mat-error *ngIf="mno.errors?.pattern">MobNo has to be numeric and 10 digits</mat-error>
          </div>
          <div class="input-box">
            <label class="details" for="email">Email Address</label>
            <input type="email" name="txtemail" [(ngModel)]="model.txtemail" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" placeholder="Enter Email" #txtemail="ngModel" required>
            <mat-error *ngIf="txtemail.errors?.required">Email cannot be blank</mat-error>
            <mat-error *ngIf="txtemail.errors?.pattern">Follow Email restriction</mat-error>
          </div>
          <div class="input-box">
            <label class="details" for="psw">Password</label>
            <input type="password" name="txtpass" [(ngModel)]="model.txtpass" placeholder="Enter Password" #txtpass="ngModel" minlength="4" maxlength="8" required>
            <mat-error *ngIf="txtpass.errors?.required">Password cannot be blank</mat-error>
            <mat-error *ngIf="txtpass.errors?.pattern">Follow password restriction</mat-error>
            <mat-error *ngIf="txtpass.errors?.minlength">Minimum password length is 4 characters</mat-error>
          </div>
          <div class="input-box">
            <label for="city" class="details">Address</label>
            <input type="text" name="city" [(ngModel)]="model.city" placeholder="Enter Address" #city="ngModel" required>
            <mat-error *ngIf="city.errors?.required">Address has to be entered</mat-error>
          </div>
          <div class="input-box">
            <label class="details" for="gen">Gender</label>
            <select type="text" name="gen" [(ngModel)]="model.gen" #gen="ngModel" required >
                <option value="Female">Female</option><mat-divider></mat-divider>
                <option value="Male">Male</option>        
            </select> 
            <mat-error *ngIf="gen.errors?.required">Gender has to be selected</mat-error>
          </div>
          <div class="input-box" >
            <label  class="details"for="dob">Date Of Birth</label>
            <input type="date" name="dob" [(ngModel)]="model.dob" placeholder="Enter DOB" #dob="ngModel" required>
            <mat-error *ngIf="dob.errors?.required">Date of birth has to be entered</mat-error>
          </div>
        </div>
       
        <div class="button">
          <input type="submit" [disabled]="regform.invalid"  value="Register">
         </div>
      </form>
    </div>
  </div>
</div>