<div class="row">
    <div class="main">
        <div class="card">
            <h2 style="text-align: center;">Register Yourself for Your Security...</h2>
<form #regform="ngForm" name="regform" (ngSubmit)="RegisterData(regform)">
    <div class="container">

        <label for="mobile"><b>Mobile No.</b></label>
        <input type="tel" name="mno" [(ngModel)]="model.mno" #mno="ngModel" pattern="^[0-9]{10}$" placeholder="Enter Mobile No." required>
        <span *ngIf="mno.errors?.required">Mobile No cannot be blank</span>
        <span *ngIf="mno.errors?.pattern">MobNo has to be numeric and 10 digits</span>
    
        
        <div>
            <label for="email"><b>Email Address</b></label>
            <input type="email" name="txtemail" [(ngModel)]="model.txtemail" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" placeholder="Enter Email" #txtemail="ngModel" required>
            <span *ngIf="txtemail.errors?.required">Email cannot be blank</span>
            <span *ngIf="txtemail.errors?.pattern">Follow Email restriction</span>
        </div>
    <div>
        <label for="uname"><b>Name</b></label>
        <input type="text" name="name" [(ngModel)]="model.name" placeholder="Enter Name" #name="ngModel" required>
        <span *ngIf="name.errors?.required">Name has to be entered</span>
    </div>
    <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" name="txtpass" [(ngModel)]="model.txtpass" placeholder="Enter Password" #txtpass="ngModel" minlength="4" maxlength="8" required>
        <span *ngIf="txtpass.errors?.required">Password cannot be blank</span>
        <span *ngIf="txtpass.errors?.pattern">Follow password restriction</span>
        <span *ngIf="txtpass.errors?.minlength">Minimum password length is 4 characters</span>
    </div>
  
    <div>
        <label for="city"><b>Address</b></label>
        <input type="text" name="city" [(ngModel)]="model.city" placeholder="Enter Address" #city="ngModel" required>
        <span *ngIf="city.errors?.required">Address has to be entered</span>
    </div>
    <div>
        <label for="dob"><b>DOB</b></label>
        <input type="date" name="dob" [(ngModel)]="model.dob" placeholder="Enter DOB" #dob="ngModel" required>
        <span *ngIf="dob.errors?.required">DOB has to be entered</span>
    </div><br><br>
    <div>
        <label for="gen"><b>Select Gender</b></label>
        <input type="radio" name="gen" [(ngModel)]="model.gen" placeholder="Enter Gender " #gen="ngModel" required value="Male">Male
        <input type="radio" name="gen" [(ngModel)]="model.gen" #gen="ngModel" required value="Female">Female<br>
        <span *ngIf="gen.errors?.required">Gender has to be selected</span>
    </div>

                 
    
    
        <button type="submit" [disabled]="regform.invalid">Register</button>
    
   
  </div>
</form>

</div>
</div>
</div>
<div class="footer">
    <p>&copy; 2020 Larsen & Toubro Infotech Limited</p>
  </div>