*{
    box-sizing: border-box;
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
  }
  body{
    font-family: Arial;
    padding: 10px;
    background: cornsilk;
    /* background: rgb(241,241,242); */
  
  }
  
  .header{
    padding: 10px;
    text-align: center;
    background: white;
    width: 80%;
    margin: auto;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden; 
    background-color: darkcyan;
    width: 100%;
    margin: auto;
  }
  
  .topnav ul {
    list-style-type: none;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    height: 70px;
  } 
  .main {  
    width: 100%;
    margin: auto;
    background-color:cornsilk;
  
  }
  
  /* Add a card effect for articles */
  .card {
    padding: 20px;
    overflow: hidden;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  .cc {
    float: left;
    padding: 20px;
  }
  
  img{
      width: 500px;
      max-width: 192px;
      height: 200px;
     
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    width: 100%;
    margin: auto;
  }
  
  .container {
    padding: 16px;
    width: 350px;
    margin: auto;
  }
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color:blue;
    color:white;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  button:hover {
    opacity: 0.8;
  }