<mat-card>
    <mat-card-content>
<div class="row">
    <div class="main">
        <div class="card">
            <h2 style="text-align: center;">You Would Receive OTP at Your Registered Email Address!</h2>
            <div class="StudenLogin" *ngIf="EmailVerify">

<form #regform="ngForm" name="regform" (ngSubmit)="ForgotData(regform)">
    <div class="container">

        
        
        <div>
            <label for="email"><b>Enter Registered Email Address</b></label>
            <input type="email" name="txtemail" [(ngModel)]="model.txtemail" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" placeholder="Enter Email" #txtemail="ngModel" required>
            <span *ngIf="txtemail.errors?.required">Email cannot be blank*</span>
            <span *ngIf="txtemail.errors?.pattern">Follow Email restriction</span>
        </div>
        
        
     <!--   <ngx-recaptcha2 #captchaElem
        [siteKey]="siteKey" name="cap"  [(ngModel)]="model.cap"  #cap="ngModel" required>
        <span *ngIf="cap.errors?.required"></span>
        </ngx-recaptcha2>  -->
             
     
        <button type="submit" name="verificationLink" [disabled]="regform.invalid">Send </button>
    
   
  </div>
</form>
</div>

<div class="main" *ngIf="ResetPwd">
    <div class="card">
    <form #PassReset="ngForm" name="PassReset" (ngSubmit)="ResetPassword(PassReset)">
        <table >
            <tr>
                <th>Enter OTP :</th>
                <td><input type="number" placeholder="OTP" name="otp" maxlength="4" [(ngModel)]="model.otp"
                        #otp="ngModel" required /></td>
                <span *ngIf="otp.errors?.required"> </span>
            </tr>
            <tr>
                <th>New Password :</th>
                <td>
                    <input type="password" placeholder="Enter Password" name="pass" [(ngModel)]="model.pass"
                        #pass="ngModel" minlength="4" maxlength="8"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%?&])[A-Za-z0-9@$!%?&]{4,8}$" required>
                    <span *ngIf="pass.errors?.required && pass?.touched">
                        &nbsp;&nbsp;<br>*Password cannot be blank
                    </span>
                    <span *ngIf="pass.errors?.pattern">
                        &nbsp;&nbsp;<br>*Password should have minimum 1 in all of these uppercase,
                        lowercase, digits and special characters
                    </span>
                    <span *ngIf="pass.errors?.minlength">
                        &nbsp;&nbsp;<br>*Minimum password length must be 4 characters
                    </span>
                </td>
            </tr>
            <tr>
                <th>Confirm password :</th>
                <td><input type="password" placeholder="Confirm Password" name="pass2" ngValidateEqual="pass"
                        [(ngModel)]="model.pass2" #pass2="ngModel" required /></td>
            </tr>
            <tr>
                <th></th>
                <td><button class="button" [disabled]="PassReset.invalid">Reset Password</button></td>
            </tr>
        </table>
    </form>
</div>
</div>
</div>
</div>
</div>
<!--<div class="footer">
    <p>&copy; 2020 Larsen & Toubro Infotech Limited</p>
  </div>-->
  

