<div class="container" style="height: 800px; display: inline-block;">
    <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Motor Claim Insurance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Travel Claim Insurance</a>
        </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
        <!-- Motor Claim Tab Starting -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <label> <strong>Select Reason</strong> </label><br>
            <select name="" id="" [(ngModel)]="choice" (change)="selectChange()">
                <!-- <option  selected>Select Reason </option> -->
                <option value="none" disabled selected="selected" value="selectoption">Select an Option </option>
                <option value="Accident">Accident</option>
                <option value="NaturalDisaster">Natural Disaster</option>
                <option value="ManMadeDisaster">Man Made Disaster</option>
                <option value="theft">Theft</option>
            </select>
    
            <!-- Motor Claim Form For  Theft -->
            <div *ngIf="theftBool">
                <br><br>
                <div class="container">
                    <h4 class="card-header bg-info " style="width: 800px;">Register Claim</h4>
                    <div class="card-body " style=" width: 800px ;">
    
                        <form [formGroup]="motorClaimFormForTheft" (ngSubmit)="addClaimForTheft(Policy_Id,Name,Mobile_Number,Reason,Date_Of_Applying,
                License_Copy,RC_Copy,Insurance_Copy,Authenticated_Letter_from_RTO)">
                            <div class="form-group">
                                <label for="Mobile_Number">Policy_Id </label>
                                <input type="number" class="form-control" #Policy_Id [(ngModel)]="motorclaim.Policy_Id"
                                    formControlName="Policy_Id" placeholder="Policy Id" />
                                <div *ngIf="ft.Policy_Id.touched && ft.Policy_Id.invalid" class="alert alert-danger">
                                    <strong> Policy ID
                                        is
                                        invalid</strong></div>
                            </div>
                            <div class="form-group">
                                <label>Name: </label>
                                <input type="text" class="form-control" #Name [(ngModel)]="motorclaim.Name"
                                    formControlName="Name" placeholder="Name" />
                                <div *ngIf="ft.Name.touched && ft.Name.invalid" class="alert alert-danger"><strong>Name is
                                        invalid.</strong>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="fieldlabels"> Mobile Number: </label>
                                <input type="text" class="form-control" #Mobile_Number
                                    [(ngModel)]="motorclaim.Mobile_Number" formControlName="Mobile_Number"
                                    placeholder="Mobile Number" [ngModel]="userMobile" />
                                <div *ngIf="ft. Mobile_Number.touched && ft. Mobile_Number.invalid"
                                    class="alert alert-danger">
                                    <strong>Mobile Number is invalid.</strong>
                                </div>
    
                            </div>
                            <div class="form-group" >
                                <label class="fieldlabels">Reason (As selected above): </label>
                                <input type="text" class="form-control" #Reason [(ngModel)]="motorclaim.Reason"
                                    formControlName="Reason" placeholder="Reason(Reason As selected above)" [ngModel]="choice" />
                                <div *ngIf="ft.Reason.touched && ft.Reason.invalid" class="alert alert-danger">
                                    <strong>Reason is
                                        invalid.</strong></div>
    
                            </div>
    
                            <div class="form-group" >
                                <label class="fieldlabels">Date Of Applying </label>
                                <input type="date" class="form-control" #Date_Of_Applying
                                    [(ngModel)]="motorclaim.Date_Of_Applying" formControlName="Date_Of_Applying"
                                    placeholder="Date Of Applying" [ngModel]="getToday()"  />
                                <div *ngIf="ft.Date_Of_Applying.touched && ft.Date_Of_Applying.invalid"
                                    class="alert alert-danger">
                                    <strong>Date Of Applying is invalid.</strong>
                                </div>
    
                            </div>
                            <p>License Copy</p>
                            <input type="file" #License_Copy formControlName="License_Copy"
                                (change)=" onSelectLicence($event)" [(ngModel)]="motorclaim.License_Copy">
                            <br><br>
                            <p>RC Copy</p>
                            <input type="file" #RC_Copy formControlName="RC_Copy" (change)=" onSelectRc($event)"
                                [(ngModel)]="motorclaim.RC_Copy">
                            <br><br>
                            <p>Insurance Copy</p>
                            <input type="file" #Insurance_Copy formControlName="Insurance_Copy"
                                (change)=" onSelectInsurance($event)" [(ngModel)]="motorclaim.Insurance_Copy">
                            <br><br>
                            <p>Authenticated Letter from RTO Copy</p>
                            <input type="file" #Authenticated_Letter_from_RTO
                                formControlName="Authenticated_Letter_from_RTO" (change)=" onSelectRto($event)"
                                [(ngModel)]="motorclaim.Authenticated_Letter_from_RTO">
                            <br><br>
    
                            <button type="submit" class="btn btn-info"
                                [disabled]="!motorClaimFormForTheft.valid">Submit</button>
    
    
                        </form>
                        <br><br>
                    </div>
                </div>
            </div>
    
    
    
            <!-- Motor Claim Form For Accident Natural Disaster Man Made disaster -->
            <div *ngIf="otherBool">
    
                <br><br>
                <div class="container">
                    <h4 class="card-header bg-info " style="width: 800px;">Register Claim</h4>
                    <div class="card-body " style=" width: 800px ;">
    
                        <form [formGroup]="motorClaimForm" (ngSubmit)="addClaim(Policy_Id,Name,Mobile_Number,Reason,Date_Of_Applying,Estimated_Amount_For_Repair,
                License_Copy,RC_Copy,Insurance_Copy,Bill_Copy)">
                            <div class="form-group">
                                <label for="Mobile_Number">Policy_Id </label>
                                <input type="text" class="form-control" #Policy_Id [(ngModel)]="motorclaim.Policy_Id"
                                    formControlName="Policy_Id" placeholder="Policy Id" />
                                <div *ngIf="f.Policy_Id.touched && f.Policy_Id.invalid" class="alert alert-danger"> <strong>
                                        Policy ID
                                        is
                                        invalid</strong></div>
                            </div>
                            <div class="form-group">
                                <label>Name: </label>
                                <input type="text" class="form-control" #Name [(ngModel)]="motorclaim.Name"
                                    formControlName="Name" placeholder="Name" />
                                <div *ngIf="f.Name.touched && f.Name.invalid" class="alert alert-danger"><strong>Name is
                                        invalid.</strong>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="fieldlabels"> Mobile Number: </label>
                                <input type="text" class="form-control" #Mobile_Number
                                    [(ngModel)]="motorclaim.Mobile_Number" formControlName="Mobile_Number"
                                    placeholder="Mobile Number" [ngModel]="userMobile" />
                                <div *ngIf="f. Mobile_Number.touched && f. Mobile_Number.invalid"
                                    class="alert alert-danger">
                                    <strong>Mobile Number is invalid.</strong>
                                </div>
    
                            </div>
                            <div class="form-group" >
                                <label class="fieldlabels">Reason (As selected above): </label>
                                <input type="text" class="form-control" #Reason [(ngModel)]="motorclaim.Reason"
                                    formControlName="Reason" placeholder="Reason(Reason As selected above)" [ngModel]="choice"/>
                                <div *ngIf="f.Reason.touched && f.Reason.invalid" class="alert alert-danger"><strong>Reason
                                        is
                                        invalid.</strong></div>
    
                            </div>
    
                            <div class="form-group" >
                                <label class="fieldlabels">Date Of Applying </label>
                                <input type="date" class="form-control" #Date_Of_Applying 
                                    [(ngModel)]="motorclaim.Date_Of_Applying" formControlName="Date_Of_Applying"
                                    placeholder="Date Of Applying" [ngModel]="getToday()"  />
                                <div *ngIf="f.Date_Of_Applying.touched && f.Date_Of_Applying.invalid"
                                    class="alert alert-danger">
                                    <strong>Date Of Applying is invalid.</strong>
                                </div>
    
                            </div>
                            <div class="form-group">
                                <label class="fieldlabels">Estimated Amount For Repair </label>
                                <input type="text" class="form-control" #Estimated_Amount_For_Repair
                                    [(ngModel)]="motorclaim.Estimated_Amount_For_Repair"
                                    formControlName="Estimated_Amount_For_Repair" placeholder="Amount" />
                                <div *ngIf="f.Estimated_Amount_For_Repair.touched && f.Estimated_Amount_For_Repair.invalid"
                                    class="alert alert-danger"><strong>Estimated Amount is invalid.</strong></div>
    
                            </div>
                            <p>License Copy</p>
                            <input type="file" #License_Copy formControlName="License_Copy"
                                (change)=" onSelectLicence($event)" [(ngModel)]="motorclaim.License_Copy">
                            <br><br>
                            <p>RC Copy</p>
                            <input type="file" #RC_Copy formControlName="RC_Copy" (change)=" onSelectRc($event)"
                                [(ngModel)]="motorclaim.RC_Copy">
                            <br><br>
                            <p>Insurance Copy</p>
                            <input type="file" #Insurance_Copy formControlName="Insurance_Copy"
                                (change)=" onSelectInsurance($event)" [(ngModel)]="motorclaim.Insurance_Copy">
                            <br><br>
                            <p>Bill Copy</p>
                            <input type="file" #Bill_Copy formControlName="Bill_Copy" (change)=" onSelectBill($event)"
                                [(ngModel)]="motorclaim.Bill_Copy">
                            <br><br>
                            <button type="submit" class="btn btn-info" [disabled]="!motorClaimForm.valid">Submit</button>
    
    
                        </form>
                        <br><br>
    
    
                    </div>
                </div>
                <br><br>
    
    
    
    
            </div>
    
        </div>
    </div>
</div>
</div>
