

  <div class="topnav">
      
    <ul>
      <li><a routerLink="home-page">Home</a></li>
      <li><a routerLink="register">Register</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/About-us']">About Us</a></li>
      <li><a [routerLink]="['/Contact']">Contact Us</a></li>
      <li><a [routerLink]="['/FAQ']">FAQ</a></li>


      <li>
        <img
          src="../assets/images/LOGO.jpg"
          style="float: right; padding-right: 20px; height: 50px; width: 100px;"
        />
      </li>
    </ul>
  </div>
  
  <router-outlet></router-outlet>
  
  
  <div class="row">
    <div class="main">
  <div class="card">
     <h2> <b>Benifits Of Insurance</b></h2>
      <p>
        Advantages of Insurance. Insurance provides economic and finanicial protection to the insured against the unexpected losses in consideration of nominal amount called premium. It provides financial protection to the nominee in case of the pre-matured death of insured.
        </p>
        <p>
            A good rule to follow is to only make a claim in the event of a big loss and avoid filing it in case of little mishaps, such as a minor dent on the bumper. Accidents can occur anytime and anywhere. When it comes to accidents related to one's car, the insurance cover comes to mind.
        </p>
        <p>
            Insurance is a way of managing risks. When you buy insurance, you transfer the cost of a potential loss to the insurance company in exchange for a fee, known as the premium. Insurance companies invest the funds securely, so it can grow, and pay out when there's a claim.
        </p>
  </div>
  <div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Buy Insurance</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Claim Insurance</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Renew Insurance</button>

  </div>
  <div class="card">
      <h1 style="text-align: center">Our Customers Feedback</h1>
    <div class="cc">
      <img src="../assets/images/Cust1.jpg">
      <p>I have got to know about <br>the top plans when I <br>purchased the car <br>insurance policy. Indeed<br> Good Experience</p>
    </div>
    <div class="cc">
      <img src="../assets/images/Cust2.jpg">
      <p>The team is really good. <br>Thank you General <br>Insuarance.</p>
    </div>
    <div class="cc">
      <img src="../assets/images/Cust3.jpg">
      <p>I chose my car insurance <br>plans very wisely. It has <br>been a wonderful thing for <br>my car and my bike. I am <br>grateful to team <br>General Insurance.</p>
    </div>
    <div class="cc">
      <img src="../assets/images/Cust4.jpg">
      <p>Just one Word Excellent!!!</p>
    </div>
    <div class="cc">
      <img src="../assets/images/Cust5.jpg">
      <p>Phenomenal customer <br>support from one of the<br> best insurance companies.</p>
    </div>
  </div>
  </div>
  </div>
  <div class="footer">
    <p>© 2020 General Insurance Limited</p>
  </div> 