

.navbar{
  justify-content:space-between;
}
a{
  padding-right:1rem;
  margin:auto;
  color:antiquewhite;
  text-decoration: none;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav,mat-sidenav-content{
  padding:16px;
 
}
p{
  font-size: 30px;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color: white;
  text-align:center;
}
a div{
  float:right;
}
/*
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 0.5 1 100px;
}
mat-toolbar a{
  display: inline-block;
  margin:auto;
  color:antiquewhite;
  text-decoration: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color: white;
  text-align:center;
}
a mat-button{
  font: size 100px;
}*/