
<mat-sidenav-container>
  <mat-sidenav  #sidenav mode="side" [(opened)]="opened" color="primary"><p>Menu</p>
    
  <mat-nav-list>
    <a mat-list-item [routerLink]="['buy-insurance']">Buy Insurance</a><!--Working-->
    <a mat-list-item [routerLink]="['renew-insurance']">Renew Insurance</a><!--Not yet created-->
    <a mat-list-item [routerLink]="['calculate-insurance']">Calculate Insurance</a><!--Working-->
    <a mat-list-item [routerLink]="['claim-insurance']">Claim Insurance</a><!--Working-->
  </mat-nav-list>
</mat-sidenav>

  <mat-toolbar color="primary" class="navbar">
   
    <img src="../../../assets/images/Logo.png" (click)="sidenav.toggle()" >
    <a mat-list-item [routerLink]="['contact-us']"  ><div>Contact</div></a><!--Working-->
    <a mat-list-item [routerLink]="['help']">Help</a><!--Working-->
    <a mat-list-item [routerLink]="['faq']">FAQ</a><!--Working-->
    <a mat-list-item [routerLink]="['about-us']">About Us</a><!--Working-->
    <a mat-list-item [routerLink]="['login']">Login</a><!--Working-->
    <a mat-raised-button color="accent" [routerLink]="['register']">Register</a><!--Working-->
  <div class="footer">
     
      © 2020 Copyright:  Larsen & Toubro Infotech Limited
     <br>
    </div>
  </mat-toolbar>
</mat-sidenav-container>