.hero-image {
    background-image: url("../../../assets/images/bg-image.jpg");
   
    height: 600px;
    
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%   ;
    position: relative;
  }