<mat-accordion>
    <!--Buy insurance-->
    <mat-expansion-panel >
        <!-- Add questions inside  mat panel title and answers in description-->
        <mat-expansion-panel-header>
            <mat-panel-title>
                Forgot Password
            </mat-panel-title>
            <mat-panel-description>
                Forgot your password? Recover it easily.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Enter your email and BOOM your password can be easily recovered.</p>
      
    </mat-expansion-panel>
</mat-accordion>