<div class=" contain">
    <h1 style="color: slateblue;"> Frequently Asked Questions </h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                <a  class="nav-link active" style="font-size:24px" data-toggle="pill" role="tab" aria-controls="tab1" aria-selected="true">
                    <i class="fas fa-car-alt" style="font-size:24px"></i> Car Insurance
                </a>
                <a  class="nav-link" style="font-size:24px" data-toggle="pill" role="tab" aria-controls="tab2" aria-selected="false">
                    <i class="fas fa-motorcycle" style="font-size:24px"></i> Bike Insurance
                </a>
                <a  class="nav-link" style="font-size:24px" data-toggle="pill" role="tab" aria-controls="tab3" aria-selected="false">
                    <i class="fas fa-file-alt" style="font-size:24px"></i> Claim
                </a>
                <a class="nav-link" style="font-size:24px" data-toggle="pill" role="tab" aria-controls="tab4" aria-selected="false">
                    <i class="fas fa-edit" style="font-size:24px"></i> Policy
                </a>
                <a  class="nav-link" style="font-size:24px" data-toggle="pill" role="tab" aria-controls="tab5" aria-selected="false">
                    <i class="fas fa-donate" style="font-size:24px"></i> Premium
                </a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="tab-content" id="faq-tab-content">
                <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="accordion" id="accordion-tab-1">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">
                                        Can car insurance premiums be paid in installments?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>
                                        No, you cannot pay the car insurance premium in instalments. Section 64VB states that car insurance coverage cannot be offered i.e. the company cannot undertake the risk of offering coverage for the car unless it receives full premium payment on or before the policy start date
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">
                                        Is car insurance policy transferrable?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>
                                        If you are selling your four wheeler, you can transfer the CAR INSURANCE POLICY too in the name of the new owner. Within a period of 15 days, the new car owner should inform the insurance company about the transfer of policy.Pre inspection of vehicle is required to be done. However, the NCB that you earn cannot be transferred in the name of the new vehicle owner.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">
                                        What happens to my car insurance policy, if i sell my car?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>
                                        The insurance policy has to be transferred from your name to the new owner. Supporting documents like sale deed/form 29/30/NOC of seller/NCB recovery amount are required for this. However, you can transfer the No Claim Bonus accumulated in your policy to your name which can be used for your new vehicle. You also have the option to cancel the existing policy at the time of selling.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">
                                        What are different types of car insurance polices and what does it cover?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>
                                        The different types of car insurance plans are:<br>
                                        Third Party plan: The Indian Motor Vehicles Act, 1988, makes it is compulsory for car owners to have a valid third-party insurance policy, and non-compliance of the rule can lead to heavy penalties. This policy covers bodily injury (or death) or property damages done to any third party in case of an accident caused by the insured party, on the condition that it wasn’t a deliberate act or done under the influence of any drugs or alcohol.<br>
                                        Comprehensive plan: Buying this policy is optional, but it is highly recommended by experts. It covers damage done to your own vehicle as well as that done to a third-party. Apart from accidents, it also covers thefts and damages done to the vehicle by natural calamities like flood, lightning, earthquakes, etc. or malicious acts like riots, strikes, and terrorist activity. This plan can be bought for a single year or for long term.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                    <div class="accordion" id="accordion-tab-2">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-1" aria-expanded="false" aria-controls="accordion-tab-2-content-1">
                                        What is two wheeler insurance?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-2-content-1" aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>
                                        Two Wheeler insurance is an insurance policy required to provide protection to your two wheeler against any damage which might result into a financial loss. In addition to it, any third party liability which has arisen due to the use of your two wheeler is covered under bike insurance. As per the Motor Vehicle Act, it is mandatory to buy a third party bike insurance policy without which one cannot use the vehicle on road.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">
                                        What are the various types of policies under two wheeler insurance?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>
                                        There two types of insurance policies – comprehensive and third party liability. Comprehensive insurance ensures complete protection to your  bike due to any impact damage, fire, theft, earthquake etc. In addition to this, it provides cover against any third party liability in term of death, bodily injury and third party property damage. However, third party liability, which is the mandatory cover protects your vehicle against third party liability against person and property.
                                    </p>  
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-3" aria-expanded="false" aria-controls="accordion-tab-2-content-3">
                                        What happens when i wish to renew my expired two wheeler insurance policy?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-2-content-3" aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>You can easily renew your expired policy online. No inspection is required and you may simply buy the policy online. Once the payment is made, you will receive the policy copy.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-4" aria-expanded="false" aria-controls="accordion-tab-2-content-4">
                                        In case of my job and place change, what happens to my motar policy?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-2-content-4" aria-labelledby="accordion-tab-2-heading-4" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>
                                        The policy will remain more or less the same, but the premium may change depending on the city to which you are moving. This is because the insurance rates differ based on the registration zone of the car. Metro cities usually have a higher rate of premium than the rest of the country. In case of job change, just inform the insurer so that the details are updated. In any case, you need to update your contact details i.e. your new address and phone number, which can be done online.    
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                    <div class="accordion" id="accordion-tab-3">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-3-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-1" aria-expanded="false" aria-controls="accordion-tab-3-content-1">
                                        If i lodge my claim after the vehicle insurance policy expires for the event that occurred during the policy term, will the claim be valid?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-3-content-1" aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                                <div class="card-body">
                                    <p>
                                        That is unlikely. It is recommended that you inform the insurer at the earliest. The period of intimation may be sometimes as short as two days. After the specified time period lapses, the insurer reserves the right to cancel any claim application.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-3-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-2" aria-expanded="false" aria-controls="accordion-tab-3-content-2">
                                        How many times can we claim motor insurance in a year?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-3-content-2" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                <div class="card-body">
                                    <p>
                                        There is no limit to the number of claims that one can register during the policy period. However, the policyholder can claim until the consolidated claim amount reaches up to the Insured Declared Value (IDV) of the car. Also, claims have an impact on your premium at the time of renewal.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-3-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-3" aria-expanded="false" aria-controls="accordion-tab-3-content-3">
                                        Can i choose not to claim if the damage is minimal? What do i gain out of it?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-3-content-3" aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                                <div class="card-body">
                                    <p>
                                        When a policyholder doesn’t make any claims during the policy period, he/she is rewarded with a No Claim Bonus (NCB). Now, this discount can range from 20% upto 50%, depending upon your track record of not making a claim. While making a claim for massive damages serves the whole purpose of taking insurance, if you let go of small damages, you can avail a decent discount in the form of NCB. So, it’s advisable to pay for minor repairs instead of making a claim and losing that NCB, which by the way, only increases with every passing year.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                    <div class="accordion" id="accordion-tab-4">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-4-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-1" aria-expanded="false" aria-controls="accordion-tab-4-content-1">
                                        Benifts of renewing from same insurer? 
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-4-content-1" aria-labelledby="accordion-tab-4-heading-1" data-parent="#accordion-tab-4">
                                <div class="card-body">
                                    <p>
                                        If you didn’t make a claim during the policy period, you get No Claim Bonus. Apart from a discount on your insurance premium, your insurer is most likely to offer additional benefits when you renew the policy. These rewards might include a sizeable decrease in deductibles or an accident forgiveness option, which means zero increase in premium even after an accident.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-4-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-2" aria-expanded="false" aria-controls="accordion-tab-4-content-2">
                                        Is my NCB transferable when I change my car or insurer?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-4-content-2" aria-labelledby="accordion-tab-4-heading-2" data-parent="#accordion-tab-4">
                                <div class="card-body">
                                    <p>
                                        Yes. The reward for not making a claim during the policy period can be easily transferred from one insurer to another, if the policyholder decides to buy insurance from another insurance company. Similarly, if the car owner changes his vehicle, NCB can be transferred to the new car.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-4-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-3" aria-expanded="false" aria-controls="accordion-tab-4-content-3">
                                        My motor insurance policy expired; how can I renew in case of break-in of my policy?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-4-content-3" aria-labelledby="accordion-tab-4-heading-3" data-parent="#accordion-tab-4">
                                <div class="card-body">
                                    <p>
                                        The expired policy can be renewed online. All you have to do is visit the website of the insurer, make a self-survey of your car, and upload the required documents. Once the documents are approved, a payment link would be sent. After the payment is done, your policy will be renewed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-4-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-4" aria-expanded="false" aria-controls="accordion-tab-4-content-4">                   
                                        What is loading/ loading period in a policy?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-4-content-4" aria-labelledby="accordion-tab-4-heading-4" data-parent="#accordion-tab-4">
                                <div class="card-body">
                                    <p>
                                        If you have witnessed a significant rise in the insurance premium during renewal, it might be because of loading. Simply put, it is the amount that is added to a policy to cover for losses which were higher than what the insurer was anticipating. This comes into the picture if the policyholder is prone to a certain type of risk or opts for claims quite often. Loading protects insurance companies against high-risk individuals.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                    <div class="accordion" id="accordion-tab-5">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1">
                                        How to Save on Car Insurance Policy Premium?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>
                                    You can take the following steps to save on car insurance premium:  
                                    <br>
                                    1.Compare the quotes by different insurers and pick the one that provides more benefits at a lower price.
                                    <br>
                                    2. Ask about bundling your insurance:If you have home insurance, you can ask your current provider about car insurance as well. Sometimes, insurance providers may give a discount on car insurance premium, if you already have home insurance or have another vehicle insured with them.
                                    <br>
                                    3. Maintain a good credit score:The policy premium is also calculated based on the credit score, as people with a good score make fewer claims.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-2" aria-expanded="false" aria-controls="accordion-tab-5-content-2">
                                        Does the car model affect the cost of car insurance?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-2" aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>
                                        Yes. Both the make and model of your vehicle influence the cost of your insurance premium. The premium for a luxury sports car will be more than a hatchback for instance. This is because any damage to a luxury car will need a costlier repair.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-3" aria-expanded="false" aria-controls="accordion-tab-5-content-3">
                                        What happens if your IDV is too low?
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-3" aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>
                                        Low IDV or Insured Declared Value means you are insuring your vehicle below the market value, and so, your premium will be less. However, at the time of making a claim, the compensation amount will be less and you may have to bear some of the loss. Experts recommend that instead of higher or lower IDV, you go for the right IDV.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>