
<div class="header">
    <p>About Us</p>
</div>
<div class="row">
    <div class="column" style="background-color:#FF665A;">
      <div> <img src="../../../assets//Images/about-us-nupur.png"> </div>
        <h4>Nupur Deshmukh</h4><br>
        <p><i>I believe that I am hard working, very attentive to detail orientation and a Team player.</i> </p>
    </div><hr>
    <div class="column" style="background-color:#FF8C64;">
        <div> <img src="../../../assets//Images/about-us-azim.png"></div>
         <h4>Azim Shaikh</h4><br>
         <p><i>I am a hard-working , dependable, responsible person and driven individual who isn't afraid to face a challenge.</i> </p>
     </div><hr>
     <div class="column" style="background-color:#3EB595;">
        <div><img src="../../../assets//Images/about-us-mitesh.png"></div>
         <h4>Mitesh Sawant</h4><br>
         <p><i>I'm a passionate ,helpful person who is enthusiastic and loves challenges.</i> </p>
     </div><hr>
     <div class="column" style="background-color:#A3A1A8 ;">
        <div> <img src="../../../assets//Images/about-us-azhar.png"></div>
         <h4>Azharudeen S</h4><br>
         <p><i>I would say that I’m creative, hard-working, and detail-oriented.</i> </p>
     </div><hr>
     <div class="column" style="background-color:#7D6B7D;">
        <div> <img src="../../../assets//Images/about-us-mrunal.png"></div>
         <h4>Mrunal Patil</h4><br>
         <p><i>I am passionate about my work and result oriented.</i> </p>
     </div><hr>

  </div>







<!--<div class="main">
    <div class="card">
        <span> This web application is designed and developed by:</span>
       <!-- <img src="../../../assets/Images/About us page.gif" >
        
           
            <ul style="text-align:justify; margin-left: 20%;">
            <li><img src="../../../assets/Images//img_avatar_boy.png" alt="Avatar" style="width:200px">Azim Shaikh</li>
            <li>Nupur Deshmukh</li>
            <li>Mitesh Sawant</li>
            <li>Mrunal Patil</li>
            <li>Azharudeen S</li>
        </ul>
        
    

        
    </div>
</div>-->