<div class="body">
    <div class="container">
        <div class="title">Register Your Vehicle</div>
            <div class="content">
                <form #vehicleRegisterationForm="ngForm" name="vehicleRegisterationForm" (ngSubmit)="vehicleData(vehicleRegisterationForm)">
                    <div class="user-details">
                        <div  class="input-box">
                            <span class="details">Enter mobile number</span>
                             <input type="text" Placeholder="Enter Your Mobile No"name="umob" [(ngModel)]="model.umob" #umob="ngModel" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Enter car/bike manufacturer</span>
                             <input type="text" placeholder="Enter Your Vehicle Manufacturer " name="cbmanu" [(ngModel)]="model.cbmanu" #cbmanu="ngModel" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Select model</span>
                            <input type="text" placeholder="Select Your Vehicle Model" name="cbmodel" [(ngModel)]="model.cbmodel" #cbmodel="ngModel" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Vehicle Type</span>
                            <select type="text"  name="vtype" [(ngModel)]="model.vtype" #vtype="ngModel" required>
                            <option value="">Select</option>
                            <option value="Four Wheeler">Four Wheeler</option>
                            <option value="Two Wheeler">Two Wheeler</option>
                            </select>
                        </div>
                        <div class="input-box">
                             <span class="details">Enter driving license</span>
                            <input type="text" placeholder="Enter Your Driving License No."  name="lic" [(ngModel)]="model.lic" #lic="ngModel" required>
                         </div>
                         <div class="input-box">
                            <span class="details">Enter purchase date</span>
                            <input type="date"  placeholder="Enter Purchase Date" name="pdate" [(ngModel)]="model.pdate" #pdate="ngModel" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Enter registeration number</span>
                            <input type="text" placeholder="Enter Your Vehicle Registeration No." name="rno" [(ngModel)]="model.rno" #rno="ngModel" required>
                         </div>
                        <div class="input-box">
                            <span class="details">Enter engine number</span>
                            <input type="text" placeholder="Enter Engine No"  name="enum" [(ngModel)]="model.enum" #enum="ngModel" required>
                        </div>
                         <div class="input-box">
                            <span class="details">Enter chassis number</span>
                            <input type="text" placeholder="Enter chassis number" name="cnum" [(ngModel)]="model.cnum" #cnum="ngModel" required>
                        </div>
                        <div class="input-box">
                             <span class="details">Enter Price Of vehicle</span>
                            <input type="number"  placeholder="Enter Price Of vehicle" name="price" [(ngModel)]="model.price" #price="ngModel" required>
                        </div>
                         <div class="button">
                             <input type="submit" [disabled]="vehicleRegisterationForm.invalid" value="Submit">
                        </div>
                    </div>
</form>

</div>
</div>

</div>