
.navbar{
	justify-content:space-between;
  }
  a{
	font-family: Roboto;
	font-weight:initial;
	font-size: 18px;
	color:antiquewhite;
	text-decoration: none;
  }
  
  a:hover{
	color: rgb(255, 255, 255);
	font-size: 20px;
  }
  .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3f51b5;
	color: white;
	text-align:center;
  }
  /*a div{
	float:right;
  }*/
  .dropdown-content {
	display: none;
	position: fixed;
   
	min-width: 60px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	z-index: 12;
  }
  button{
	margin-right: 3rem;
	font-size: medium;
  }
  .dropdown-content a {
	float: inline-start;
	background-color:floralwhite;
	opacity: ;
	color: darkslategrey;
	/*padding: 12px 16px;*/
	text-decoration: none;
	display:block;
	text-align: left;
	font-size: 20;
  }
  
  .dropdown-content a:hover {
	background-color: #f9b5ac;
  }
  
  .dropdown:hover .dropdown-content {
	display:list-item; 
  }