<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['buy-insurance']">Buy Insurance</a>
      <a mat-list-item [routerLink]="['renew-insurance']">Renew Insurance</a>
      <a mat-list-item [routerLink]="['calculate-insurance']">Calculate Insurance</a>
      <a mat-list-item [routerLink]="['claim-insurance']">Claim Insurance</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"> credit_score</mat-icon>
      </button>
      <img src="../../../assets/Images/Logo.png">
      <span class="spacer"></span>
      <a mat-list-item [routerLink]="['contact-us']"  >Contact</a>
      <a mat-list-item [routerLink]="['help']">Help</a>
      <a mat-list-item [routerLink]="['faq']">FAQ</a>
      <a mat-list-item [routerLink]="['about-us']">About Us</a>
      <a mat-list-item [routerLink]="['about-us']">Login</a>
      <a mat-raised-button color="accent" [routerLink]="['register']">Register</a>
    </mat-toolbar>
    <ng-content></ng-content>
    <div class="footer">
      <br>
      © 2020 Copyright: Insurance Pay
      <br><br>  
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
